header{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

input{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid gray;
}

.registration{
    justify-content: space-between;
    border: 1px solid gray;
}

.radio{
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: space-between;
}

td{
    border: 1px solid gray;
}




